*{
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: font;
    src: url(beba.ttf);
}
#head{
	width: 100%;
	height: 215px;
	background: url(img/1.jpg);
}
#head2{
	width: 100%;
	height: 349px;
	background: url(img/2.jpg);
}
#headN{
	position: absolute;
	font-size: 16px;
	color: white;
	font-family: font;
	display: block;
}
#header{	
	width: 991px;
    height: 215px;
    margin: 0 auto;
    position: relative;
}
#logo{
	position: absolute;
	top: 25px;
	left: -14px;
	display: block;
}
#logo1{
	display: block;
	width: 121px;
	height: 96px;
}
#headerInfo{
	position: absolute;
	top: 65px;
	display: block;
}
#navigacija{
	float: left;
    width: 150px;
    height: 47px;
    background: url("img/5.png") no-repeat;
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 620px;
    padding-left: 55px;
}
#lokacija{
	font-size: 17px;
    text-transform: uppercase;
    font-family: font;
}
p{
	font-size: 14px;
	color: white;
}
#radnoVreme{
	float: left;
    width: 250px;
    height: 47px;
    background: url("img/6.png") no-repeat;
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 860px;
    padding-left: 55px;
}
#rv{
	font-size: 17px;
    text-transform: uppercase;
    font-family: font;
    color: white;
}
#vp{
	color: white;
	position: absolute;
	font-family: tahoma;
	font-size: 13px;
}
#telefon{
	position: absolute;
    bottom: 20px;
    left: 0px;
    background: url("img/4.png") 8px 0px no-repeat;
    height: 62px;
    padding-left: 75px;
    width: 210px;
    top: 69px
}
#nt{
	font-size: 17px;
    text-transform: uppercase;
    font-family: font;
    color: white;
}
#nav{
	position: absolute;
	display: block;
	top: 175px;
	left: 480px;
}
#ul{
	list-style: none;
}
li{
	float: left;
	margin-left: 3px;
}
h2{
	font-size: 100%
}
header nav li a{
	display: table-cell;
    background: url("img/7.png") no-repeat;
    height: 37px;
    width: 114px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    font: normal 19px font;
    text-decoration: none;
}
#font{
	font-family: font;
	font-size: 20px;
}
#wrapp{
	width: 991px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 1750px;
    position: relative;
}
#space{
	height: 55px;
	background:#fff url("img/8.png") no-repeat;
	display: block;
}
#nesto{
	margin-bottom: 20px;
}
#neston{
	font-family: font;
	margin-left: 100px;
	font-size: 30px;
}
#logoaside{
	position: absolute;
	width: 95px;
	height: 80px;
}
#n{
	color: black;
	margin-left: 100px;
}
body{
	background: url("img/9.png") repeat;
}
#font{
	font-family: tahoma;
	font-size: 13px;
}
#sve{
	width: 250px;
	height: 250px;
	position: absolute;
	bottom: 180px;
	right: 150px;
}
#preporuka{
	position: absolute;
	bottom: 140px;
	right: 120px;
	color: white;
	font-family: font;
	font-size: 55px;
}
li a:hover:not(.active) {
    background:url("img/active.png");
}
.active{
	background: url(img/active.png);
}
#pljedza{
	width: 991px;
	height: 349px;
	margin-left: 179px;
	position: relative;
}
#meni{
	position: absolute;
    left: 179px;
    width: 991px;
    background-color: #000;
    opacity: 0.7;
    height: 50px;
    bottom: 103px;
}
#meni2{
	position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
}
a{
    text-decoration: none;
    color: white;
}
.li{
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    height: 50px;
    width: 76px;
    font-family: font;
    margin-left: 75px;
    margin-top: 13px;
}
.li1{
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    height: 50px;
    width: 76px;
    font-family: font;
    margin-left: 75px;
    margin-top: 1px;
}

#meni2 li a:hover:not(.active){
    background: red;
}
/*.jeste{
    background: green;
}*/
#podkat{
	height: 46px;
    position: absolute;
    left: -14px;
    top: 30px;
}
#podkatn{
	height: 46px;
    float: left;
    color: #fff;
    line-height: 39px;
    font-size: 27px;
    padding-right: 15px;
    position: absolute;
    bottom: 3px;
    left: 25px;
    top: -1px;
    font-family: font;
}
#head2 ul li a: hover{
	background: red;
}
#head2 ul li a: active{
 background: red;
}
#space1{
	height: 55px;
	background:#fff url("img/8.png") no-repeat;
	display: block;
	width: 991px;
	margin-left: 179px;
}

#meniK{
	position: relative;
    padding: 55px 0 30px 0;
}

#menu1{
	float: left;
    margin: 14px;
    border: 1px solid #dddddd;
    width: 465px;
    position: relative;
    height: 154px;
}
#menus{
	background: url("img2/1.jpg") center no-repeat;
	background-size: auto 152px;
	float: left;
    width: 152px;
    height: 153px;
}
#menusN{
	float: left;
    padding: 10px 0px 0px 14px;
    width: 205px;
}
#menusNN{
	color: #ff0000;
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
    font-family: font;
}
#menu12{
	float: left;
    margin: 14px;
    margin-top: 100px;
    border: 1px solid #dddddd;
    width: 465px;
    position: relative;
    height: 154px;
}
#cena{
	float: right;
	font-family: font;
	font-size: 30px;
	color: red;
}
#menusNNN{
	color: #ff0000;
    font-size: 25px;
    margin-bottom: 20px;
    display: block;
    font-family: font;
}
#podkatt{
    height: 46px;
    position: absolute;
    left: -14px;
    top: 1210px;
}
#podkatnn{
    height: 46px;
    float: left;
    color: #fff;
    line-height: 39px;
    font-size: 27px;
    padding-right: 15px;
    position: absolute;
    bottom: 3px;
    left: 25px;
    top: -1px;
    font-family: font;
}
#menu1p{
    float: left;
    margin: 14px;
    border: 1px solid #dddddd;
    width: 465px;
    position: relative;
    height: 154px;
}
#menu1p1{
    float: left;
    margin: 14px;
    border: 1px solid #dddddd;
    width: 465px;
    position: relative;
    height: 154px;
    top: 284px;
}
#menu1p2{
    float: left;
    margin: 14px;
    border: 1px solid #dddddd;
    width: 465px;
    position: relative;
    height: 154px;
    top: 100px;
    
}
#menu1p3{
    float: left;
    margin: 14px;
    border: 1px solid #dddddd;
    width: 465px;
    position: relative;
    height: 154px;
    top: 285px;
}
#menu1p4{
    float: left;
    margin: 14px;
    border: 1px solid #dddddd;
    width: 465px;
    position: relative;
    height: 154px;
    top: 100px;
}
#footer{
    width: 991px;
    height: 334px;
    margin: 0 auto;
    background: url("img/footer.jpg") top left no-repeat;
    position: relative;
}
#footerMenu{
    background: url(img2/smer.png);
    width: 81px;
    height: 46px;
    position: absolute;
    top: 10px;
    left: -18px;
    color: #fff;
    font-size: 30px;
    line-height: 38px;
    padding-left: 40px;
    text-transform: uppercase;
    font-family: font;
}
#footerNaslov{
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 4px;
    left: 150px;
    width: 400px;
    font-family: font;
}
#footerMenu ul li{
    float: left;
    padding-left: 36px;
    list-style: disc;
    color: #fff;
    width: 90px;
    font-family: font;
    font-size: 13px;
}
a{
    text-decoration: none;
    color: white;
}
#footerkojot{
    float: right;
    margin-top: 20px;
    position: relative;
}
#footerlogo{
    width: 140px;
    height: 130px;
    position: absolute;
    top: 0;
    right: 14px;
    color: #fff;
}
#slikafootera{
    width: 140px;
    height: 130px;
}
#footerkojot ul{
    float: right;
    text-align: right;
    padding-right: 20px;
    margin-top: 145px;
    color: #fff;
    width: 80px;
    font-family: font;
    font-size: 20px;
}
